---
  - name: Multi Instance Test
    hosts: "{{ item.hostname }}"
    gather_facts: no
    become: yes
    vars_files:
      - variables.yml

    tasks:
      # - name: Check if previous instance is running
      #   ansible.builtin.shell: "systemctl is-active {{ item.service_file }}"
      #   register: prev_instance_status
      #   ignore_errors: yes  # Ignore errors if there is no previous instance
      #   with_items: "{{ instances }}"
      #   loop_control:
      #     index_var: prev_index
      #     loop_var: item
      #     label: "{{ prev_index }}"

      # - name: Loop through instances
      #   debug:
      #     msg: "Configuring instance {{ item.instance }} with directory {{ item.application_directory }} and service file {{ item.service_file }}"
      #   when: prev_instance_status.results[prev_index | int].rc == 0
      #   with_items: "{{ instances }}"
      #   loop_control:
      #     loop_var: item


      - name: Status check on the updated tomcat service
        command: "systemctl status {{ item.service_file }}.service"
        become: yes
        with_items: "{{ instances }}"
        register: upgraded_tomcat_status_check
        
      - name: Display status check on the updated tomcat service
        debug:
          var: upgraded_tomcat_status_check
