---
  - name: Multi Instance Test
    hosts: "{{ specific_host }}"
    gather_facts: no
    become: yes

    tasks:
      - name: Include variable file
        include_vars:
            file: variables.yml

      - name: Status check on the updated tomcat service
        command: "systemctl status {{ item.service_file }}.service"
        become: yes
        with_items: "{{ instances }}"
        register: upgraded_tomcat_status_check
        
      - name: Display status check on the updated tomcat service
        debug:
          var: upgraded_tomcat_status_check
