---
  - name: Tomcat upgrade task
    hosts: "{{ specific_host }}"
    gather_facts: no
    become: yes

    tasks:
      # - name: Download new apache tomcat version
      #   get_url: 
      #     url: https://archive.apache.org/dist/tomcat/tomcat-9/v{{tomcat_version}}/bin/apache-tomcat-{{tomcat_version}}.tar.gz
      #     dest: /opt/source/
      #     validate_certs: no
      #   register: tomcat_download

      - name: Extract tomcat
        unarchive:
          src: "/opt/source/{{ tomcat_version }}.tar.gz"
          dest: /opt/source/
          remote_src: yes
        become: yes
        become_user: root
        register: tomcat_extracted

      - name: Formating tomcat tomcat name
        set_fact:
          tomcat_directory_format: "{{ tomcat_extracted.src | basename | regex_replace('\\.tar\\.gz$', '') }}"

      - name: Move extracted tomcat directory to /opt directory
        command: "mv /opt/source/{{tomcat_directory_format}} /opt/{{tomcat_directory}}" 
        become: yes
        become_user: root

      - name: Replace HTTP connector port in server.xml
        lineinfile:
          path: "/opt/{{tomcat_directory}}/conf/server.xml"
          regexp: '^(\s*<Connector port=")8080(" protocol="HTTP/1.1".*)$'
          line: '\g<1>{{ tomcat_port }}\2'
        become: yes
        become_user: root

      - name: Change new tomcat directory ownership 
        file:
          path: "/opt/{{tomcat_directory}}"
          owner: tomcat
          group: tomcat
          mode: "0775"
          recurse: yes
        become: yes
        become_user: root
        register: change_ownership

      - name: Create tomcat.service file with content
        copy:
          content: |
            [Unit]
            Description=Apache Tomcat Web Application Container
            Wants=network.target
            After=network.target

            [Service]
            Type=forking

            Environment=JAVA_HOME=/usr/java/openjdk11.0.11.9

            Environment=CATALINA_PID=/opt/{{tomcat_directory}}/temp/tomcat.pid
            Environment=CATALINA_HOME=/opt/{{tomcat_directory}}
            Environment=CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC
            Environment=JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom

            ExecStart=/bin/bash /opt/{{tomcat_directory}}/bin/startup.sh
            ExecStop=/bin/bash /opt/{{tomcat_directory}}/shutdown.sh
            SuccessExitStatus=143

            User=tomcat
            Group=tomcat
            UMask=0007
            RestartSec=10
            Restart=always

            [Install]
            WantedBy=multi-user.target
          dest: /etc/systemd/system/{{ tomcat_service }}.service
        become: yes
        become_user: root

      - name: Start updated tomcat service
        systemd_service:
          state: started
          name: "{{ tomcat_service }}"
          enabled: true
        become: yes
        become_user: root
        async: 100
        poll: 5
        register: start_tomcat

      - name: Status check on the updated tomcat service
        command: "systemctl status {{ tomcat_service }}.service"
        become: yes
        become_user: root
        register: upgraded_tomcat_status_check
        
      - name: Display status check on the updated tomcat service
        debug:
          var: upgraded_tomcat_status_check
