---
- name: Change root password
  hosts: "{{ hostname }}"
  become: yes
  become_method: sudo
  gather_facts: true
  become_user: root

  vars:
    new_password: "{{ password }}"
  tasks:
    - name: Change root password
      user:
        name: root
        password: "{{ new_password | password_hash('sha512') }}"