---
  - name: modify httpd.conf contents
    hosts: httpd_servers
    gather_facts: no
    become: yes

    tasks:
      - name: Update line in httpd.conf (ScriptAlias)
        replace:
          path: "/opt/apache2.4.54_instance1/conf/httpd.conf"
          regexp: '^ScriptAlias\s+/cgi-bin/\s+"/opt/{{ existing_apache_name }}//cgi-bin/".*$'
          replace: 'ScriptAlias /cgi-bin/ "/opt/{{ upgraded_apache_name }}//cgi-bin/"'

      - name: Debug regex substitution
        debug:
          msg: "Regex: '^ScriptAlias\\s+/cgi-bin/\\s+\"/opt/{{ existing_apache_name }}//cgi-bin/\".*$'"