---
  - name: test playbook scripts
    hosts: "{{ specific_host }}"
    gather_facts: no
    become: yes

    tasks:
      - name: Modify java environment path in tomcat service (catalina pid)
        replace:
          path: "/etc/systemd/system/{{ update_tomcat_service }}.service"
          regexp: "'^Environment=CATALINA_PID=/opt/{{existing_tomcat_directory}}/temp/tomcat.pid'"
          replace: "'Environment=CATALINA_PID=/opt/{{update_tomcat_directory}}/temp/tomcat.pid'"
        register: modify_service_pid

      - name: Display modify_service_pid
        debug:
          var: modify_service_pid

      - name: Modify java environment path in tomcat service (catalina home)
        replace:
          path: "/etc/systemd/system/{{ update_tomcat_service }}.service"
          regexp: "'^Environment=CATALINA_HOME=/opt/{{existing_tomcat_directory}}'"
          replace: "'Environment=CATALINA_HOME=/opt/{{update_tomcat_directory}}'"
        register: modify_service_home

      - name: Display modify_service_home
        debug:
          var: modify_service_pid

      - name: Modify java environment path in tomcat service (startup.sh)
        replace:
          path: "/etc/systemd/system/{{ update_tomcat_service }}.service"
          regexp: "'^ExecStart=/bin/bash /opt/{{existing_tomcat_directory}}/bin/startup.sh'"
          replace: "'ExecStart=/bin/bash /opt/{{update_tomcat_directory}}/bin/startup.sh'"
        register: modify_service_startup

      - name: Display modify_service_startup
        debug:
          var: modify_service_pid

      - name: Modify java environment path in tomcat service (shutdown.sh)
        replace:
          path: "/etc/systemd/system/{{ update_tomcat_service }}.service"
          regexp: "'^ExecStop=/bin/bash /opt/{{existing_tomcat_directory}}/bin/shutdown.sh'"
          replace: "'ExecStop=/bin/bash /opt/{{update_tomcat_directory}}/bin/shutdown.sh'" 
        register: modify_service_shutdown

      - name: Display modify_service_shutdown
        debug:
          var: modify_service_pid